.body{
	background-image:url('../images/images.jpeg');
}

#container{
	width:1100px;
	height:1050px;
	background-color:gray;
}

#header{
	width:1000px;
	height:200px;
	margin-top:20px;
	margin-left:50px;float:left;
	background-color:yellow;
}

#logo{
	margin-left:50px;
	margin-top:10px;
	width:200px;
	height:150px;
	float:left;
	background-color:red;
}

#menu{
	width:1000px;
	height:50px;
	margin:10px 0px 10px 50px;
	background-color:#333;
	float: left;
}

#menu ul {
	list-style-type:none;
	margin:0;
	padding:0;
	overflow:hidden;
}

#menu li {
	float: left;
}

#menu li a {
	display:block;
	color:white;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}

#menu li a:hover {
	background-color:#111;
}

#content{
	width:1000px;
	height:700px;
	float:left;
	margin:10px 0px 10px 50px;
	background-color:pink;
}

#footer{	
	margin:10px 0px 10px 50px;
	width:1000px;
	height:90px;
	float:left;
	background-color:green;
}